@import '_variables_mixin';

/* ===== Main - Two ============================== */

.aboutMain {
  grid-area: main;
  background-color: $background-secondary;
  height: 24rem;

  @include standard;
  
  .containerAbout {
    background-color: $background-Main;
    color: $color-secondary;
    @include widthMax;
    margin: 0rem auto;
    margin-top: 5rem;
    overflow: hidden;

    .aboutNavigation {

      ul {
        display: flex;
        list-style: none;
        background-color: $background-tertiary;

        li {
          padding: 15px 20px;
          font-weight: 700;
          cursor: pointer;

          &:hover {
            color: #ffffffa4;
            transition: all 0.2s ease-in-out;
          }
        }

        /* ===== Classes adicionada pelo JS ============================== */
        .backgroundOne {
          background-color: $background-Main;
        }

        .colorsOne {
          color: $color-secondary;
          background-color: $background-Main;
        }

        .colorsTwo {
          color: $color-secondary;
          background-color: $background-Main;
        }

        .colorsThree {
          color: $color-secondary;
          background-color: $background-Main;
        }

        .colorStandard {
          color: $color-secondary;
          background-color: $background-tertiary;
        }
      }
    }

    section {
      article {
        padding: 3rem;
      }

      .vision {
        background-color: $background-Main;
        @include displayNone;
      }

      .values {
        background-color: $background-Main;
        @include displayNone;
      }

      /* ===== Classes adicionada pelo JS ============================== */
      .mission-active {
        @include displayBlock;
      }

      .vision-active {
        @include displayBlock;
      }

      .values-active {
        @include displayBlock;
      }

      .mission-none {
        @include displayNone;
      }
    }
  }
}