@import '_variables_mixin';

/* ===== Main - One ============================== */
.bannerMain {
  grid-area: modal;

  .bannerMainOne {
    background-color: #000000;
    @include mainSource;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .bannerTitle {
      @include widthMax;
      color: $color-secondary;
      font-weight: 400;
      @include textCenter;
      font-size: 2rem !important;
    }

    .bannerParagraph {
      @include widthMax;
      font-weight: 300;
      margin-top: 1rem;
      color: #ffffffa4;
      @include textCenter;
      font-size: 1.2rem !important;
    }
  }
}