@import '_variables_mixin';

/* ===== Footer ============================== */
.footerMain {
  grid-area: footer;
  height: 28rem;
  @include standard;

  .backgroundFooter {
    background-color: $background-Main;

    .carousel {
      @include mainSource;
      @include widthMax;
      margin: 5rem auto;
      padding: 4rem;
      color: $color-secondary;
      @include textCenter;

      .slick-next:before {
        content: '>';

        @include mainSource;
        font-weight: 700;
        font-size: 2rem;
      }

      .slick-prev:before {
        content: '<';

        @include mainSource;
        font-weight: 700;
        font-size: 2rem;
      }

      .slick-dots {
        display: none !important;
      }

      .servTitle {
        color: $color-title;
      }
    }
  }
}