@import '_variables_mixin';

/* ===== Header ============================== */
.headerMain {
  grid-area: heade;


  height: 70px;
  padding: 1rem;
  box-sizing: border-box;

  @include displayFlex;

  background-color: $background-tertiary-header;

  .headerSection {
    @include widthMax;
    margin: 0rem auto;
    padding: 1.563rem;

    @include displayFlex;

    .headerTitle {
      @include mainSource;
      font-weight: 400;
      position: relative;
      color: $color-secondary;
      text-decoration: none;
      padding: 0.625rem 0.313rem;

      &:hover {
        color: #ffffffa4;
        transition: all 0.2s ease-in-out;
      }
    }

    .headerTitle::before {
      content: '';
      height: 0.938rem;
      width: 0.313rem;
      top: 1rem;
      left: -0.313rem;
      position: absolute;
      background-color: #FD300F;
    }

    .navigation>ul {
      list-style: none;
      display: flex;

      li:nth-child(4) {
        @include displayNone;
        border-bottom: unset;
      }

      li+li {
        margin-left: 2rem;
      }

      a {
        @include mainSource;
        font-weight: 300;
        color: $color-secondary;
        text-decoration: none;
        padding: 0.625rem 0.313rem;

        &:hover {
          color: #ffffffa4;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .menu {
      display: flex;
      list-style: none;
      gap: 0.5rem;

      a {
        color: $color-secondary;
        text-decoration: none;
        @include displayBlock;
        padding: 0.5rem;
      }
    }

    .btn-mobile {
      @include displayNone;
    }
  }
}