 /* ===== Header ============================== */
 .headerMain {
   grid-area: heade;
   background-color: #363841;

   height: 70px;
   padding: 1rem;
   box-sizing: border-box;

   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #363841;

   .headerSection {
     width: 80vw;
     margin: 0rem auto;
     padding: 1.563rem;

     display: flex;
     align-items: center;
     justify-content: space-between;

     .headerTitle {
       font-family: 'Poppins';
       font-weight: 400;
       position: relative;
       color: #ffffff;
       text-decoration: none;
       padding: 0.625rem 0.313rem;

       &:hover {
         color: #ffffffa4;
         transition: all 0.2s ease-in-out;
       }
     }

     .headerTitle::before {
       content: '';
       height: 0.938rem;
       width: 0.313rem;
       top: 1rem;
       left: -0.313rem;
       position: absolute;
       background-color: #FD300F;
     }

     .navigation>ul {
       list-style: none;
       display: flex;

       li:nth-child(4) {
         display: none;
         border-bottom: unset;
       }

       li+li {
         margin-left: 2rem;
       }

       a {
         font-family: 'Poppins';
         font-weight: 300;
         color: white;
         text-decoration: none;
         padding: 0.625rem 0.313rem;

         &:hover {
           color: #ffffffa4;
           transition: all 0.2s ease-in-out;
         }
       }
     }

     .menu {
       display: flex;
       list-style: none;
       gap: 0.5rem;

       a {
         color: white;
         text-decoration: none;
         display: block;
         padding: 0.5rem;
       }
     }

     .btn-mobile {
       display: none;
     }
   }
 }