/* ===== Color ============================== */
$background-Main: #2A2C34;
$color-Main: #2A2C34;
$background-secondary: #ffffff;
$color-secondary: #ffffff;
$color-title: #A7CB35;
$background-tertiary:#646672;
$background-tertiary-header:#363841;

/* ===== Mixin ============================== */

@mixin mainSource {
  font-family: 'Poppins';
}

@mixin textCenter {
  text-align: center;
}

@mixin widthMax {
  width: 80vw;
}

@mixin displayBlock {
  display: block;
}

@mixin displayNone {
  display: none;
}

@mixin displayFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@mixin standard {
  .standardTitle {
    @include mainSource;
    @include widthMax;
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: $color-Main;
    position: relative;
    padding-top: 5rem;

    .range {
      position: absolute;
      margin-top: 1rem;
      width: 0.313rem;
      height: 4rem;
      background-color: #FD300F;
      transform: rotate(90deg);
    }
  }
}