/* ===== Configuration initial ============================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ===== Color ============================== */
/* ===== Mixin ============================== */
/* ===== Header ============================== */
.headerMain {
  grid-area: heade;
  height: 70px;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #363841;
}

.headerMain .headerSection {
  width: 80vw;
  margin: 0rem auto;
  padding: 1.563rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerMain .headerSection .headerTitle {
  font-family: 'Poppins';
  font-weight: 400;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  padding: 0.625rem 0.313rem;
}

.headerMain .headerSection .headerTitle:hover {
  color: #ffffffa4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.headerMain .headerSection .headerTitle::before {
  content: '';
  height: 0.938rem;
  width: 0.313rem;
  top: 1rem;
  left: -0.313rem;
  position: absolute;
  background-color: #FD300F;
}

.headerMain .headerSection .navigation > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerMain .headerSection .navigation > ul li:nth-child(4) {
  display: none;
  border-bottom: unset;
}

.headerMain .headerSection .navigation > ul li + li {
  margin-left: 2rem;
}

.headerMain .headerSection .navigation > ul a {
  font-family: 'Poppins';
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  padding: 0.625rem 0.313rem;
}

.headerMain .headerSection .navigation > ul a:hover {
  color: #ffffffa4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.headerMain .headerSection .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.headerMain .headerSection .menu a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

.headerMain .headerSection .btn-mobile {
  display: none;
}

/* ===== Color ============================== */
/* ===== Mixin ============================== */
/* ===== Main - One ============================== */
.bannerMain {
  grid-area: modal;
}

.bannerMain .bannerMainOne {
  background-color: #000000;
  font-family: 'Poppins';
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerMain .bannerMainOne .bannerTitle {
  width: 80vw;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  font-size: 2rem !important;
}

.bannerMain .bannerMainOne .bannerParagraph {
  width: 80vw;
  font-weight: 300;
  margin-top: 1rem;
  color: #ffffffa4;
  text-align: center;
  font-size: 1.2rem !important;
}

/* ===== Color ============================== */
/* ===== Mixin ============================== */
/* ===== Main - Two ============================== */
.aboutMain {
  grid-area: main;
  background-color: #ffffff;
  height: 24rem;
}

.aboutMain .standardTitle {
  font-family: 'Poppins';
  width: 80vw;
  margin: 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #2A2C34;
  position: relative;
  padding-top: 5rem;
}

.aboutMain .standardTitle .range {
  position: absolute;
  margin-top: 1rem;
  width: 0.313rem;
  height: 4rem;
  background-color: #FD300F;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.aboutMain .containerAbout {
  background-color: #2A2C34;
  color: #ffffff;
  width: 80vw;
  margin: 0rem auto;
  margin-top: 5rem;
  overflow: hidden;
}

.aboutMain .containerAbout .aboutNavigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background-color: #646672;
  /* ===== Classes adicionada pelo JS ============================== */
}

.aboutMain .containerAbout .aboutNavigation ul li {
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
}

.aboutMain .containerAbout .aboutNavigation ul li:hover {
  color: #ffffffa4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.aboutMain .containerAbout .aboutNavigation ul .backgroundOne {
  background-color: #2A2C34;
}

.aboutMain .containerAbout .aboutNavigation ul .colorsOne {
  color: #ffffff;
  background-color: #2A2C34;
}

.aboutMain .containerAbout .aboutNavigation ul .colorsTwo {
  color: #ffffff;
  background-color: #2A2C34;
}

.aboutMain .containerAbout .aboutNavigation ul .colorsThree {
  color: #ffffff;
  background-color: #2A2C34;
}

.aboutMain .containerAbout .aboutNavigation ul .colorStandard {
  color: #ffffff;
  background-color: #646672;
}

.aboutMain .containerAbout section {
  /* ===== Classes adicionada pelo JS ============================== */
}

.aboutMain .containerAbout section article {
  padding: 3rem;
}

.aboutMain .containerAbout section .vision {
  background-color: #2A2C34;
  display: none;
}

.aboutMain .containerAbout section .values {
  background-color: #2A2C34;
  display: none;
}

.aboutMain .containerAbout section .mission-active {
  display: block;
}

.aboutMain .containerAbout section .vision-active {
  display: block;
}

.aboutMain .containerAbout section .values-active {
  display: block;
}

.aboutMain .containerAbout section .mission-none {
  display: none;
}

/* ===== Color ============================== */
/* ===== Mixin ============================== */
/* ===== Footer ============================== */
.footerMain {
  grid-area: footer;
  height: 28rem;
}

.footerMain .standardTitle {
  font-family: 'Poppins';
  width: 80vw;
  margin: 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #2A2C34;
  position: relative;
  padding-top: 5rem;
}

.footerMain .standardTitle .range {
  position: absolute;
  margin-top: 1rem;
  width: 0.313rem;
  height: 4rem;
  background-color: #FD300F;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footerMain .backgroundFooter {
  background-color: #2A2C34;
}

.footerMain .backgroundFooter .carousel {
  font-family: 'Poppins';
  width: 80vw;
  margin: 5rem auto;
  padding: 4rem;
  color: #ffffff;
  text-align: center;
}

.footerMain .backgroundFooter .carousel .slick-next:before {
  content: '>';
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
}

.footerMain .backgroundFooter .carousel .slick-prev:before {
  content: '<';
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 2rem;
}

.footerMain .backgroundFooter .carousel .slick-dots {
  display: none !important;
}

.footerMain .backgroundFooter .carousel .servTitle {
  color: #A7CB35;
}

/* ===== Color ============================== */
/* ===== Mixin ============================== */
/* ===== Desktop ============================== */
@media (max-width: 1440px) {
  html {
    font-size: 100%;
  }
  html body .container .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "heade heade heade heade" "modal modal modal modal" "main main main main" "footer footer footer footer";
  }
}

/* ===== Tablet ============================== */
@media (max-width: 1024px) {
  html {
    font-size: 93.75%;
  }
}

/* ===== Mobile ============================== */
@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  html body .container .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "heade" "modal" "main" "footer";
    /* ===== header ============================== */
    /* ===== Main - One ============================== */
  }
  html body .container .grid .headerMain .headerSection {
    width: 54vw;
    margin: 0 0 0 auto;
  }
  html body .container .grid .headerMain .headerSection .navigation {
    display: block;
    text-align: center;
  }
  html body .container .grid .headerMain .headerSection .navigation .menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #363841;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 10;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden !important;
  }
  html body .container .grid .headerMain .headerSection .navigation .menu li:nth-child(4) {
    display: block;
    padding-top: 10rem;
    font-size: 3rem;
    font-family: cursive;
  }
  html body .container .grid .headerMain .headerSection .navigation .menu li:nth-child(4) a {
    border: none;
  }
  html body .container .grid .headerMain .headerSection .navigation .menu li + li {
    margin-left: unset;
  }
  html body .container .grid .headerMain .headerSection .navigation .menu a {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 2px solid #ffffff;
  }
  html body .container .grid .headerMain .headerSection .navigation.active .menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  html body .container .grid .headerMain .headerSection .btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  html body .container .grid .headerMain .headerSection .btn-mobile .hamburger {
    border-top: 2px solid;
    width: 20px;
    color: #ffffff;
  }
  html body .container .grid .headerMain .headerSection .hamburger::after,
  html body .container .grid .headerMain .headerSection .hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
  html body .container .grid .headerMain .headerSection .navigation.active .hamburger {
    border-top-color: transparent;
  }
  html body .container .grid .headerMain .headerSection .navigation.active .hamburger::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  html body .container .grid .headerMain .headerSection .navigation.active .hamburger::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
  html body .container .grid .bannerMain .bannerMainOne .bannerTitle {
    color: #ffffff;
    font-size: 2.5rem;
  }
  html body .container .grid .bannerMain .bannerMainOne .bannerParagraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 81.25%;
  }
  html body .headerMain .headerSection {
    width: 55vw;
  }
}
/*# sourceMappingURL=main.css.map */